* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  a {
    text-decoration: none;
    color: #05A5D1;
  }
}

header {
  background-color: #222222;
  color: white;
  height: 55px;

  section {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;


      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 0;

        #logoImg {
          width: 50px;
        }

        h3 {
          margin-left: 5px;

          a {
            color: white;
            text-decoration: none;
          }
        }

        p {
          small {
            margin-left: 5px;
            font-size: 12px;
          }
        }

        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;

          li {
            padding: 0 15px;

            a {
              color: lightgray;
              text-decoration: none;
            }

            a:hover {
              color: white;
            }
          }
        }

      }
    }
  }
}

main {
  .container {
    display: flex;

    .fixedSec {
      //background-color: lightcyan;
      max-width: 40%;
      padding: 40px 25px;
      position: fixed;
      display: block;
      ul {
        li {
          list-style-type: none;
          padding: 10px 75px;
        }
      }

    }

    .mainArticle {
      //background-color: lightgray;
      margin: 0 auto;
      max-width: 60%;
      padding: 40px 25px;
    }


    #cd {
      color: red;
    }

    #comment {
      color: #586e75;
    }

    #commandText {
      background-color: rgba(27,31,35,.05);
      padding: 3.2px 6.4px;
      color: #586e75;
    }

    p {
      padding: 25px 0;
    }

    div  {
      display: block;
      text-align: center;
      img {
        max-width: 100%;
      }
    }


  }

}


ul {
  padding: 10px 0;
  li {
    padding: 5px 0;
  }
}

footer {
  height: 60px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-around;

  section {

    .footerContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      p {
        color: white;
        padding: 0 15px;
      }
    }
  }
}