* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

header {
    background-color: #222222;
    color: white;
    height: 55px;
    section {
        .container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;


                .row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px 0;

                    #logoImg {
                        width: 50px;
                    }

                    h3 {
                       margin-left: 5px;
                       a {
                           color: white;
                           text-decoration: none;
                       }
                    }

                    p {
                        small {
                            margin-left: 5px;
                            font-size: 12px;
                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: row;
                        list-style-type: none;
                        li {
                            padding: 0 15px;

                            a {
                                color: lightgray;
                                text-decoration: none;
                            }
                            
                            a:hover {
                                color: white;
                            }
                        }
                    }

                }
        }
    }
}




nav {
    background-color: #2d2d2d;
    height: 300px;
    section {
        height: 100%;
        .container {
            color: white;
            height: 100%;
            .row {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;   
                height: auto; 
            }

            #regularHeight {
                height: 100%;
                h1 {
                    font-size: 45px;
                    padding: 10px 0;
                }

                p {
                    padding: 10px 0;
                }

                #buttonNav {
                    display: flex;
                    flex-direction: row;
                    padding: 15px;

                    a {
                        border: 0;
                        background: #05a5d1;
                        border-radius: 4px;
                        padding: 15px 20px;
                        font-weight: 300;
                        margin: 0 12px;
                        display: inline-block;
                        color: #fafafa;
                        text-decoration: none;
                        text-shadow: 0 1px 3px rgba(0,0,0,.3);
                        box-shadow: 1px 3px 3px rgba(0,0,0,.3);
                        transition: background .3s,color .3s,-webkit-transform .3s;
                        transition: background .3s,color .3s,transform .3s;
                        transition: background .3s,color .3s,transform .3s,-webkit-transform .3s;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

            }
        }
    }

}



main {
    text-align: center;
    padding: 150px 0;

    section {
        article {
            max-width: 900px;
            margin: 40px auto;

            div {
                padding: 25px 0;
                background-color: lightcyan;


                code {

                }
            }
        }
    }
}



footer {
    height: 100px;
    background-color: #222222;
}