@media only screen and (min-width: 320px) {
    #listHead {
        display: none;
    }

    #regularHeight {
        text-align: center;
    }

    header section .container {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    .nameArticle {
        display: none;
    }

    main .article p {
        padding: 20px 5px;
    }

}


@media only screen and (min-width: 375px) {
    #listHead {
        display: none;
    }

    #regularHeight {
        text-align: center;
    }

    header section .container {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    .nameArticle {
        display: none;
    }

    main .article p {
        padding: 20px 5px;
    }

}

@media only screen and (max-width: 414px) {
    #listHead {
        display: none;
    }

    #regularHeight {
        text-align: center;
    }

    header section .container {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    .nameArticle {
        display: none;
    }

    main .article p {
        padding: 20px 5px;
    }

}





@media only screen and (min-width: 768px) {

    main .nameArticle {
        width: 20%;
        height: 2150px;
        overflow-y: scroll;
        margin: 0 0 0 30px;
    }

    .nameArticle {
        display: block;
    }

    #listHead {
        display: block;
    }
    
}

@media only screen and (min-width: 1024px) {

    main .nameArticle {
        width: 20%;
        height: 1590px;
        overflow-y: scroll;
        margin: 0 0 0 60px;
    }

    .nameArticle {
        display: block;
    }

    #listHead {
        display: block;
    }
}

@media only screen and (min-width: 1440px) {

    main .nameArticle {
        width: 20%;
        height: 1120px;
        overflow-y: scroll;
        margin: 0 0 0 60px;
    }

    .nameArticle {
        display: block;
    }

    #listHead {
        display: block;
    }
}










/* @media only screen and (min-width: 1024px) {

} */