

@media only screen and (max-width: 320px) {
    #listHead ul {
        display: none;
    }

    #regularHeight {
        text-align: center;
    }

    header section .container {
        display: flex;
        justify-content: left;
        align-items: left;
    }

     main .nameArticle {
        display: none;
    }

    main .article p {
        padding: 20px 5px;
    }

    .fixedSec {
        display: none !important;
    }

}


@media only screen and (max-width: 375px) {
    #listHead ul {
        display: none;
    }

    #regularHeight {
        text-align: center;
    }

    header section .container {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    main .nameArticle {
        display: none;
    }

    main .article p {
        padding: 20px 5px;
    }

    main .container .fixedSec {
        display: none !important;
    }

}

@media only screen and  (max-width: 414px) {
    #listHead ul {
        display: none;
    }

    #regularHeight {
        text-align: center;
    }

    header section .container {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    main .nameArticle {
        display: none;
    }

    main .article p {
        padding: 20px 5px;
        
    }

    main .article {
        max-width: 90% !important;
        height: calc(920px);
    }
    

}





@media only screen and (max-width: 768px) {

    main .nameArticle {
        width: 20%;
        height: auto !important;
        overflow-y: scroll;
        margin: 0 0 0 30px;
    }

    .nameArticle {
        display: block;
    }

    main .article {
        max-width: 70%;
        height: calc(920px);
    }

    main .nameArticle div {
        height: calc(970px) !important;
    }

    #listHead {
        display: block;
    }

    main .container .fixedSec {
        max-width: 30%;
        padding: 40px 5px;
    }
    
}

@media only screen and (max-width: 1024px) {

    

    main .nameArticle {
        width: 20%;
        height: 2100px;
        overflow-y: scroll;
        margin: 0 0 0 60px;
    }

    .nameArticle {
        display: block;
    }

    #listHead {
        display: block;
    }

    main .container .fixedSec {
        max-width: 30%;
        padding: 40px 5px;
    }
}

@media only screen and (max-width: 1440px) {

    

    main .nameArticle div {
        height: calc(1800px);
    }

    header section .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    main .nameArticle {
        width: 30%;
        height: auto;
        overflow-y: scroll;
        /* margin: 0 60px 0 60px; */
    }

    .nameArticle {
        display: block;
    }

    #listHead {
        display: block;
    }

    main .container .fixedSec {
        max-width: 30%;
        padding: 40px 5px;
    }

    header section .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 1920px) {
    main .nameArticle div {
        height: calc(900px);
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    header section .container {
        max-width: 1200px;
        margin: 0 auto;
    }

}


@media only screen and (min-width: 1920px) and (max-width: 10000px) {
    main .nameArticle div {
        height: calc(1730px);
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    header section .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    
}
